// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-title {
    // margin: 0 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.btn-primary {
    margin-top: 10px;
    margin-left: 50px;
}

.main-title-new {
    margin: 10px 50px;
}

.justify-content-end {
    margin: 0 50px;
}

form {
    margin: 0 50px;
}